package ${packageName};

import static org.ops4j.peaberry.Peaberry.service;
#if ($multipleServices == true)
import static org.ops4j.peaberry.util.TypeLiterals.iterable;
#end
import javax.inject.Named;

import ${serviceInterface};
import com.google.inject.AbstractModule;
#if ($peaberryInitRequired == true)
import org.ops4j.peaberry.Peaberry;
#end
@Named
public class ${fileNamePrefix}PeaberryImportModule extends AbstractModule {

	@Override
	protected void configure() {
		#if ($peaberryInitRequired == true)
		install(Peaberry.osgiModule());
		#end

		#if ($multipleServices == true)
		bind(iterable(${serviceInterfaceSimpleName}.class)).toProvider(service(${serviceInterfaceSimpleName}.class).multiple());
		#else
		bind(${serviceInterfaceSimpleName}.class).toProvider(service(${serviceInterfaceSimpleName}.class).single());
		#end
	}
}
